registry=https://registry.npmjs.org/
strict-peer-dependencies=false
prefer-frozen-lockfile=true
verify-store-integrity=true
fund=false
audit=false
fetch-retries=5
network-timeout=600000
store-dir=.pnpm-store
